{% extends "includes/base.html" %}
{% load static %}

{% block header %}
<header class="header-account wow fadeIn" data-wow-duration="0.7s" data-wow-delay="0.1s">
	<div class="container">
		<div class="row align-items-center justify-content-end no-gutters">
			<div class="col-auto logo-wrapper wow fadeIn" data-wow-duration="0.7s" data-wow-delay="0.3s">
				<a href="/">
					<img src="{% static 'images/logo.png'%}" class="img-fluid">
				</a>
			</div>
		</div>
	</div>
</header>
{% endblock %}

{% block content %}
<style>
	body {
		background: rgb(248, 249, 255);
	}
</style>

{% if data.success %}
<div class="alert alert-success text-center" id="success-alert">
	<button type="button" class="close" data-dismiss="alert">x</button>
	<strong>Updated</strong>Successfully.
</div>
{% endif %}


<section id="account-page" class="admin-container">
	<div class="form-wrapper wow fadeIn" data-wow-duration="0.7s" data-wow-delay="0.1s">
		<!-- <div class="container"> -->
		<div class="row mb-4">
			<div class="col-md-auto mb-2">
				<div class="button-wrapper">
					<a href="{% url 'tutee_question' %}" class="btn blue-btn">Ask Your Question</a>
				</div>
			</div>
			<div class="col-md-auto mb-2">
				<div>
					<a href="{% url 'find_tutor' %}" class="btn blue-btn">Find Tutor</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 mb-5">
				<form action="{% url 'search_question' %}" method='post' enctype="multipart/form-data">
					{%csrf_token%}
					<div class="input-group mb-2">
						<input name="search_query" id="search-query" type="text" class="form-control"
							placeholder="Question" aria-label="Question" aria-describedby="basic-addon2">

						{% if data.subjects %}
						<select name="subject" class="form-control subject1" placeholder="Subject">
							<option value="">Select Subject</option>
							{% for sub in data.subjects %}
							<option value="{{sub.name}}">{{sub.name}}</option>
							{% endfor %}
						</select>
						{% endif %}

						<div class="input-group-append">
							<button class="btn btn-outline-secondary" type="submit">Search</button>
						</div>
					</div>
				</form>
			</div>
		</div>

		<div class="question-wrapper mb-5">
			<h4 class="mb-4">Recent Questions</h4>

			<div class="row">
				{% if data.questions  %}
				{% for question in data.questions %}
				<div class="col-md-4 content-wrapper mb-4">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">{{question.title}} </h5>
							<h6 class="card-subtitle mb-2 text-muted">{{question.subject}} </h6>
							<p class="card-text">{{question.desc}} </p>
							<p class="card-text">{{question.date_created}} </p>
						</div>
						<div class="card-footer text-muted">
							<p>Status : {% if question.status == '0' %} Posted {%endif%}
								{% if question.status == '1' %} Accepted {%endif%}
								{% if question.status == '2' %} Answered {%endif%}
								{% if question.status == '3' %} Viewed {%endif%}
							</p>
							<a href="/tutee/question/{{question.id}}" class="btn btn-primary">View Answer</a>
						</div>
					</div>
				</div>
				{% endfor %}

				{% else %}
				<p class="text-center">None</p>
				{% endif %}

			</div>

		</div>

		<!-- </div> -->

		<div class="row">
			<div class="col-md-12">
				<h4 class="mb-4">Top Rated Tutors</h4>
			</div>
		</div>
		<div class="row">

			{% if data.tutors  %}
			{% for tutor in data.tutors %}
			<div class="col-md-3 content-wrapper mb-4">
				<div class="profile-wrapper">
					<img width="60" style="margin:auto;display: block;" src="
							{% if 'http' in tutor.photo.url %}
            				{{tutor.photo}}
							{% elif tutor.photo != 'False'%}
							{{tutor.photo.url}}
							{% else %}
							{% static 'images/admin.png'%}
							{% endif  %}
							">
					<div class="tute-details text-center my-3">
						<h4 class="mb-2">{{tutor.user.first_name}}</h4>
						Status:
						{% if tutor.status == '1' and tutor.ws_status == '1' %}
						<span class="status">Online <span class="green-dot ml-2"></span></span>
						{% else %}
						<span class="status">Offline <span class="red-dot ml-2"></span></span> {%endif%}
					</div>
					<div class="tute-details text-center my-3">
						Rating: {{tutor.rating}}
					</div>
					<div style="text-align: center">
						<a href="/tutee/viewtutor/{{tutor.user.id}}" class="btn btn-primary">View Tutor</a>
					</div>
				</div>
			</div>
			{% endfor %}

			{% else %}
			<p class="text-center">None</p>
			{% endif %}

		</div>
	</div>
</section>

{% endblock %}
{% block custom_Script %}
<script>
	$(document).ready(function () {

		window.setTimeout(function () {
			$(".alert").fadeTo(1000, 0).slideUp(1000, function () {
				$(this).remove();
			});

		}, 2000);

	});

	function searchQuestion() {
		let search_query = $("#search-query").val()

		let data = {
			'search_query': search_query,
			csrfmiddlewaretoken: '{{ csrf_token }}'
		};
		$.post(`${window.location.origin}/tutee/question/search`, data, function (data, status) {

			if (data.status) {
				let questions = JSON.parse(data.questions);

			} else {}
		});

	}
</script>
{% endblock %}