{% extends "includes/base.html" %}
{% load static %}

{% block header %}
<header class="header-account wow fadeIn" data-wow-duration="0.7s" data-wow-delay="0.1s">
    <div class="container">
        <div class="row align-items-center justify-content-end no-gutters">
            <div class="col-auto logo-wrapper wow fadeIn" data-wow-duration="0.7s" data-wow-delay="0.3s">
                <a href="/">
                    <img src="{% static 'images/logo.png'%}" class="img-fluid">
                </a>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<style>
    body {
        background: rgb(248, 249, 255);
    }
</style>

{% if data.success %}
<div class="alert alert-success text-center" id="success-alert">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <strong>Updated</strong> Successfully.
</div>
{% endif %}

<section id="account-page" class="admin-container">
    <div class="form-wrapper wow fadeIn" data-wow-duration="0.7s" data-wow-delay="0.1s">
        <!-- <div class="container"> -->
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="account-info">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="mb-5">Question id {{data.id}}</h4>
                            <h6 class="card-subtitle mb-2 text-muted">{{data.subject}} </h6>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{data.title}} </h5>
                            <p class="card-text">{{data.desc}} </p>

                            <div id="attachments"></div>

                        </div>
                        <div class="card-footer">
                            <p>Status : {% if data.status == '0' %} Posted {%endif%}
                                {% if data.status == '1' %} Accepted {%endif%}
                                {% if data.status == '2' %} Answered {%endif%}
                                {% if data.status == '3' %} Viewed {%endif%}
                            </p>
                        </div>
                    </div>
                    <br />
                    <div class="card">
                        <div class="card-header">
                            Answer
                        </div>
                        <div class="card-body text-muted">
                            <form action="{% url 'tutor_answer' data.id %}" method='post' enctype="multipart/form-data">
                                {%csrf_token%}
                                <div class="col-md-8 form-group mb-4">
                                    <label for="name" class="d-block mb-2">Answer</label>
                                    <textarea id="answer" name="answer" class="form-control" required></textarea>
                                </div>
                                <div class="col-md-8 form-group mb-4">
                                    <label for="name" class="d-block mb-2">Remarks</label>
                                    <input type="text" id="remarks" name="remarks" class="form-control" value=""
                                        required>
                                </div>
                                <div class="col-md-8 form-group mb-4">
                                    <label for="name" class="d-block mb-2">Attachments (if any)</label>
                                    <div class="upload-btn-wrapper">
                                        <button class="btn line-btn">Upload</button>
                                        <input name="attachments" id="uploadBtn" type="file" class="upload"
                                            multiple="multiple" />
                                    </div>
                                    <div id="upload_prev"></div>
                                </div>
                                <button type="submit" class="btn transparent-btn selected">Submit
                                    Answer</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 content-wrapper mb-4">
                <div class="account-info">
                    <div id="chat-room" class="card">
                        <div class="card-header">
                            <h4 class="mb-5">Chat Room</h4>
                        </div>
                        <div class="card-body">
                            <div id="messages"></div>
                        </div>
                        <div class="card-footer">
                            <form id="message-form">
                                <div class="chat-header">
                                    <h5 class="m-0"><span class="green-dot mr-2"></span>Chat With us</h5>
                                </div>
                                <div class="chat-body">
                                    <textarea class="textarea d-block mb-4" id="message-input"
                                        placeholder="Your message here" rows="3" autofocus></textarea>
                                    <button type="submit" class="button">Send</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
{% block custom_Script %}
<script type="text/javascript" src="{% static 'scripts/rooms.js' %}"></script>

<script>
    var attachment = "{{data.attachment}}";
    var tutee_id = "{{data.user_id}}";
    var question_id = "{{data.id}}";
    var tutor_id = "{{data.accepted_by.id}}";

    $(document).ready(function () {
        // Add newly sent messages to the channel
        let $form = $("#message-form");
        let $input = $("#message-input");
        $form.on("submit", function (e) {
            e.preventDefault();
            if (roomChannel && $input.val().trim().length > 0) {
                roomChannel.sendMessage($input.val());
                $input.val("");
            }
        });


        attachment.split(",").forEach(att => {
            $("#attachments").append(
                `<a href='${window.location.origin}/media/${att}' download>${att}</a><br>`);
        })
        window.setTimeout(function () {
            $(".alert").fadeTo(1000, 0).slideUp(1000, function () {
                $(this).remove();
            });
        }, 2000);

        connectChat()

    });

    var files, res;

    document.getElementById("uploadBtn").onchange = function (e) {
        e.preventDefault();
        var filename = this.value;
        var lastIndex = filename.lastIndexOf("\\");
        if (lastIndex >= 0) {
            filename = filename.substring(lastIndex + 1);
        }
        files = $('#uploadBtn')[0].files;
        res = Array.prototype.slice.call(files);
        for (var i = 0; i < files.length; i++) {
            $("#upload_prev").append("<li>" + files[i].name + "<button>X</button></li> ");
        }
    };


    $(document).on("click", "#upload_prev li", function () {
        res.splice($(this).index(), 1);
        $(this).remove();

    });
</script>
{% endblock %}