{% extends "includes/base.html" %}
{% load static %}
{% block nav %}

{% endblock %}

{% block nav2 %}

{% endblock %}

{% block content %}
<section id="signin-page" class="section-container">
	<div class="form-wrapper wow fadeIn" data-wow-duration="0.7s" data-wow-delay="0.1s">
		<div class="container">
			<div class="row">
				<div class="col-md-7 mb-4 pt-md-5">
					<h1 class="mb-4"><strong class="d-block">Welcome to</strong> OfficeHours</h1>
					<p class="mb-5">Sign up for free to earn and help in your free time!</p>
					<div class="button-wrapper mb-5">
						<a href="#signin-wrapper" class="btn transparent-btn mr-3 login selected">Login</a>
						<a href="#signup-wrapper" class="btn transparent-btn signup">Sign Up</a>
					</div>
					<div class="tutor-wrapper">
						<a href="#tutor" class="mr-md-5 d-inline-block">
							<div class="tutor-list selected">
								<img src="{% static 'images/tutor.png'%}" class="img-fluid mb-4" alt="">
								<span class="d-block mb-1">Tutor</span>
							</div>
						</a>
						<a href="#tutee" class=" d-inline-block">
							<div class="tutor-list">
								<img src="{% static 'images/tutee.png'%}" class="img-fluid mb-4" alt="">
								<span class="d-block mb-1">Tutee</span>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-5 mb-4">
					<div id="signin-wrapper" class="login-wrapper active">
						<h4 class="mb-4 pb-3">Enter New Password</h4>


						<form method="post">

							{% csrf_token %}
							{{form}}
							<br />
							<input type="submit" class="btn blue-btn btn-block" value="Update Password">
						</form>
					</div>
					<div id="signup-wrapper" class="login-wrapper">
						<h4 class="mb-4 pb-3">Sign Up</h4>
						<form action="{% url 'signup' %}" method="post">
							{% csrf_token %}
							<input class="ugroup" type="hidden" name="ugroup" value='1'>
							<input class="ss" type="hidden" name="ssign" value='2'>
							<div class="social-wrapper">
								<a href="{% url 'social:begin' 'google-oauth2' %}" class="mb-3">
									<div class="img-wrapper">
										<img src="{% static 'images/google.png'%}" class="img-fluid" alt="">
									</div>
									<div class="content">Login with Google</div>
								</a>
								<a href="{% url 'social:begin' 'facebook' %}" class="mb-3">
									<div class="img-wrapper">
										<img src="{% static 'images/facebook.png'%}" class="img-fluid" alt="">
									</div>
									<div class="content">Login with Facebook</div>
								</a>
							</div>
							<h5 class="mb-4 text-center">Or</h5>
							{% if data.error %}
							<h5 class="mb-4 text-center text-danger">{{ data.error }}</h5>
							{% endif %}
							{% if data.success %}
							<h5 class="mb-4 text-center text-success">{{ data.success }}</h5>
							{% endif %}
							<div class="form-group mb-3">
								<input type="text" id="name" name="name" value='{{ data.request.name }}'
									class="form-control" placeholder="Full Name" required>
							</div>
							<div class="form-group mb-3">
								<select name="country" id="country" class="form-control">
									<option value="">Country</option>
									<option value="India" {% if data.request.country %} selected {%endif%}>India
									</option>
								</select>
							</div>
							<div class="form-group mb-3 ">
								<input type="email" id="email" name="email" value='{{ data.request.email }}'
									class="form-control {% if data.request.email %} text-danger {%endif%}"
									placeholder="Email" required>
							</div>
							<div class="form-group mb-3">
								<input type="password" id="password" name="password" class="form-control"
									placeholder="Password" required>
							</div>
							<div class="certificate-wrapper">
								<div class="form-group mb-3">
									<input type="hidden" id="expertise" name="expertise" class="form-control"
										placeholder="Subjects" required>
								</div>
								<div class="form-group mb-3 expertise-select-class">
									<select name="expertise-select" id="expertise-select" class="selectpicker"
										placeholder="Subject" multiple data-live-search="true">
										{% for sub in data.subject %}
										<option value="{{sub.name}}">{{sub.name}}</option>
										{% endfor %}
									</select>
								</div>
								<div class="form-group mb-3 class-class">
									<input type="text" id="class" name="class" value='{{ data.request.class }}'
										class="form-control" placeholder="Class">
								</div>
							</div>

							<div class="d-flex justify-content-center mb-2 option-wrapper">
								<a href="#signin-wrapper" class="loginwrap">Already a member? Log In</a>
							</div>
							<div class="agree d-flex mb-3">
								<input type="checkbox" id="agree1" class="mr-2 mt-1" required>
								<label for="agree1">By signing up, you agree to our *Terms of Use* and *Privacy
									Policy*.</label>
							</div>
							<input type="submit" class="btn blue-btn btn-block" value="Sign Up">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


{% endblock %}


{% block custom_Script %}


<script>
	$(document).ready(function () {

	});
</script>
{% endblock %}
