{% extends "includes/base.html" %}
{% load static %}
{% block nav %}

{% endblock %}

{% block nav2 %}

{% endblock %}

{% block content %}
<section id="signin-page" class="section-container">
	<div class="form-wrapper wow fadeIn" data-wow-duration="0.7s" data-wow-delay="0.1s">
		<div class="container">
			<div class="row">
				<div class="col-md-7 mb-4 pt-md-5">
					<h1 class="mb-4"><strong class="d-block">Welcome to</strong> OfficeHours</h1>
					<p class="mb-5">Sign up for free to earn and help in your free time!</p>
					<div class="button-wrapper mb-5">
						<a href="#signin-wrapper" class="btn transparent-btn mr-3 login selected">Login</a>
						<a href="#signup-wrapper" class="btn transparent-btn signup">Sign Up</a>
					</div>
					<div class="tutor-wrapper">
						<a href="#tutor" class="mr-md-5 d-inline-block">
							<div class="tutor-list selected">
								<img src="{% static 'images/tutor.png'%}" class="img-fluid mb-4" alt="">
								<span class="d-block mb-1">Tutor</span>
							</div>
						</a>
						<a href="#tutee" class=" d-inline-block">
							<div class="tutor-list">
								<img src="{% static 'images/tutee.png'%}" class="img-fluid mb-4" alt="">
								<span class="d-block mb-1">Tutee</span>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-5 mb-4">
					<div id="signin-wrapper" class="login-wrapper active">
						<h2 class="mb-4 pb-3">Password Reset Sent!</h2>

						<p>we've emailed you instruction for setting your password, if an account exists with the email
							you entered. You should receive them shortly.</p>

						<p>If you don't receive an email, please make sure you've entered the address you registred
							with, and check your spam folder.</p>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>


{% endblock %}


{% block custom_Script %}


<script>
	$(document).ready(function () {

	});
</script>
{% endblock %}
