{% extends "includes/base.html" %}
{% load static %}

{% block content %}

<div class="page-header">
    <h3 class="page-title"> Ticket List </h3>
    <nav aria-label="breadcrumb">
        <a href="{% url 'ticket' %}" class="btn btn-block btn-lg btn-gradient-primary mt-4">Create Ticket</a>
    </nav>
</div>

<div class="row">

    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Tickets</h4>

                {% if data.tickets  %}
                <table class="table table-striped bg-white border">
                    <thead>
                        <tr>
                            <th scope="col">Ref id</th>
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>
                            <th scope="col">Status</th>
                            <th scope="col">View</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for tkt in data.tickets %}
                        <tr>
                            <td>{{tkt.ref_id}} </td>
                            <td>{{tkt.title}} </td>
                            <td>{{tkt.desc}} </td>
                            <td>{{ tkt.status }}</td>
                            <td><a href="/viewticket/{{tkt.id}}" class="btn btn-primary">View Ticket</a></td>
                        </tr>

                        {% endfor %}
                    </tbody>

                </table>
                {% else %}
                <p class="text-center">None</p>
                {% endif %}

            </div>
        </div>
    </div>

</div>

{% endblock %}