{% extends "includes/base.html" %}
{% load static %}

{% block header %}
<header class="header-account wow fadeIn" data-wow-duration="0.7s" data-wow-delay="0.1s">
    <div class="container">
        <div class="row align-items-center justify-content-end no-gutters">
            <div class="col-auto logo-wrapper wow fadeIn" data-wow-duration="0.7s" data-wow-delay="0.3s">
                <a href="/">
                    <img src="{% static 'images/logo.png'%}" class="img-fluid">
                </a>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<style>
    body {
        background: rgb(248, 249, 255);
    }
</style>

{% if data.success %}
<div class="alert alert-success text-center" id="success-alert">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <strong>Updated</strong> Successfully.
</div>
{% endif %}

<section id="account-page" class="admin-container">
    <div class="form-wrapper wow fadeIn" data-wow-duration="0.7s" data-wow-delay="0.1s">
        <!-- <div class="container"> -->
        {%csrf_token%}
        <div class="row">
            <div class="col-md-8 content-wrapper mb-4">
                <div class="account-info">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="mb-5"><strong>Reference ID:</strong> {{data.ticket.ref_id}}</h5>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><strong>Title:</strong> {{data.ticket.title}} </h5>
                            <h5 class="card-text"><strong>Description:</strong> {{data.ticket.desc}} </h5>

                            <div id="question-attach"></div>

                        </div>
                        <div class="card-footer">
                            <h5><strong>Status :</strong> {{data.ticket.status}}
                            </h5>
                            <h5 class="card-text"><strong>Date Created:</strong> {{data.ticket.date_created}} </h5>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12 mb-4">

                <div class="account-info" style="min-height: 500px !important;">

                    <h4 class="mb-5">Comments</h4>
                    {% if data.ticket_comments  %}
                    <div id="comment-list" class="list-group">

                        {% for cmnt in data.ticket_comments %}

                        <div class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{cmnt.user.first_name}}</h5>
                                <small>{{cmnt.time}}</small>
                            </div>
                            <p class="mb-1">{{cmnt.comment}}</small>
                        </div>

                        {% endfor %}


                    </div>
                    <div class="list-group-item list-group-item-action flex-column align-items-start">
                        <textarea class="form-control" id="user-comment" aria-label="With textarea"></textarea>
                        <button onclick="addComment()" type="button" class="btn btn-primary">Comment</button>
                    </div>

                    {% else %}
                    <p class="text-center">None</p>
                    {% endif %}

                </div>

            </div>
        </div>
        <!-- </div> -->
</section>

{% endblock %}


{% block custom_Script %}
<script>
    let id = "{{data.ticket.id}}"

    function addComment() {
        let comment = $("#user-comment").val()

        let post_data = {
            comment: comment,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        };

        $.post(`${window.location.origin}/ticket/${id}/comment`, post_data, function (data, status) {
            if (data.status) {
                $("#comment-list").append(commentBody(data))
            } else {}
        });
    }


    function commentBody(cmnt) {

        return `<div class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">${cmnt.first_name}</h5>
                                    <small>${cmnt.time}</small>
                                </div>
                                <p class="mb-1">${cmnt.comment}</small>
                            </div>`;
    }
</script>
{% endblock %}